.ProductPageLoadingContainer{
  width: 90%;
  height: 100%;
  display : flex;
  flex-direction: column;
  background-color: #fff;
  overflow: hidden;
  margin:auto;
}
.ProductPageLoadingTray{
  width: 100%;
  height:100%;
  display: flex;
  align-items: center;
  border: 1px solid #f0f0f0!important;
}

.ProductPageLoadingImage{
  width : 50%;
  height : 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ProductPageLoadingSpec{
  width: 50%;
  height: 95%;
  display: flex;
  flex-Direction : column;
  align-items: space-around;
  justify-content: space-around;
}

.ProductPageLoadingSpecList{
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: space-around;
  flex-Direction : column;
}
.ProductPageLoadingSpecList{
  width: 100%;
  height: 30%;
}