.cartLoadingContainer{
  width: 100%;
  height: 100%;
  display : flex;
  flex-direction: column;
  background-color: #fff;
  overflow: hidden;
}
.cartLoadingTray{
  width: 100%;
  height:200px;
  display: flex;
  align-items: center;
  border: 1px solid #f0f0f0!important;
}

.cartLoadingImage{
  width : 200px;
  height : 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cartLoadingSpec{
  width: 50%;
  height: 95%;
  display: flex;
  flex-Direction : column;
  align-items: space-around;
  justify-content: space-around;
}

.cartLoadingSpecList{
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: space-around;
  flex-Direction : column;
}