.bodyHeader{
  width : 100%;
  height : 40px;
  box-shadow: 0 1px 1px 0 rgb(0 0 0 / 16%);
  background-color : #fff;
  z-index: 1;
}

.MainBody{
  width : 100%;
  height : calc(100% - 56px);
  display: flex;
  justify-content: center;
  background-color: #f1f3f6;
  flex-direction: column;
  margin-top:56px;
}
.MainBody::-webkit-scrollbar {
  display: none;
}
.BodyDisplay{
  width:100%;
  height : calc(100% - 50px);
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.BodyDisplayGap{
  width : 280px;
  height : 500px;
  margin-right : 10px;
}

.itemBox{
  width : calc(100% - 310px);
  min-height: 100%;
  background-color : #fff;
  box-shadow: 0 1px 1px 0 rgb(0 0 0 / 16%);
  position: relative;
  height: fit-content;
}

.productSort{
  width : 100%;
  height : 60px;
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 16%);
  display: flex;
  flex-direction:column;
}
.productSortTop{
  width : 100%;
  height : 30px;
  display: flex;
  align-items: center;
  
}
.productSortTop>span{
  font-weight: 500;
  font-size: 16px;
  margin-left : 10px;
}
    
.productSortTop>p{
  color: #878787;
  font-size: 12px;
  margin-left : 10px;
}

.bodyPagesChange{
  width : 100%;
  height : 50px;
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 16%);
  display: flex;
  justify-content: center;
  align-items: center;
  position:absolute;
  bottom: 0;
  background-color:#fff;
  overflow: hidden;
}

.bodyPagesChange>button{
    height: 28px;
    background: linear-gradient(#fff,#f9f9f9);
    display: inline-block;
    border: 1px solid #c2c2c2;
    cursor: pointer;
    font-size: 16px;
    line-height: 1;
}

.bodyPagesChangePrev{
  width: 28px;
  border-radius: 50%;
  margin-right: 5px;
}
.bodyPagesChangeNext{
  width: 50px;
  border-radius: 16px;
  margin-left: 5px;
}

.bodyNoResult{
  width:100%;
  height:100%;
  background-color:#fff;
  display:flex;
  flex-direction: column;
  align-items: center;
  z-index: 12;
  overflow: hidden;
}
.bodyNoResult>.loader{
  display:flex;
  align-items:center;
  justify-content: center;
  max-width: 30%;
  max-height: 30%;
 }
.bodyNoResult>span{
  font-size: 26px;
    font-weight: 500;
    margin: 20px 0 10px;
}
.bodyNoResult>p{
  color: #878787;
  font-size: 20px;
  margin-bottom: 8px;
}
.SortBoxMobile{
  position: fixed;
  width: 100%;
  left: 0;
  height: auto;
  z-index: 1;
  margin: 0;
  flex-direction: column;
  align-items: flex-start;
}
@media only screen and (max-width: 500px) {
  .MainBody{
    height: calc(100% - 80px);
    margin-top: 80px;
    overflow-x: hidden;
  }
  .BodyDisplay {
    height:100%;
  }
  .itemBox{
    width:100%;
  }
  .filterSort{
    position:fixed;
    width:100%;
    height:40px;
    z-index: 0;
    background-color:rgb(219, 219, 219);
  }
  .productSortTop {
    margin-top:40px;
    display:flex;
  }
  .filterSort>button{
    width:50%;
    height:100%;
    background-color:#fff;border:none;
  }
  .sortBottomClose{
    width:100%;
    height: calc(100% - 200px);
    border-top: 1px solid #dddddd;
  }
  .pagination{
    display: flex;
    width: 100%;
    height: 50px;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
  }
}