.cartItemTray{
    width: 100%;
    height: 200px;
    display : flex;
    flex-direction: column;
    border-top: 1px solid #f0f0f0!important;
}

.cartItemTrayUpper{
    width: 100%;
    height: 150px;
    display : flex;
    align-items : center;
    justify-content : center;
    cursor: pointer;
}

.cartItemTrayLower{
    width: 100%;
    height: 50px;
    display : flex;
    align-items : center;
    justify-content : center;
}

.cartItemTrayUpperLeft{
    width: 150px;
    height: 100%;
    display : flex;
    align-items : center;
    justify-content : center;
}
.cartItemTrayUpper:hover .cartItemName{
    color : #2874f0;
}
.cartItemTrayUpperLeft>img{
    max-width: 90%;
    max-height: 90%
}
.cartItemTrayUpperRight{
    width: calc(100% - 150px);
    height: 100%;
    display : flex;
    justify-content : space-around;
    flex-direction: column;
}

.cartItemTrayLowerLeft>input{
    width: 44px;
    height: 25px;
    border-radius: 2px;
    background-color: #fff;
    border: 1px solid #c2c2c2;
    margin: 0 5px;
    text-align: center;
    pointer-events: none;
}
.cartItemTrayLowerLeft>input:focus{
    border: 1px solid #c2c2c2;
}

.cartItemTrayLowerLeft{
    width: 150px;
    height: 100%;
    display : flex;
    align-items : center;
    justify-content : center;
}
.cartItemName{
    font-size: 16px;
    width : 60%;
    height : 30%;
    overflow : hidden;
    margin-left : 30px;
}
.cartItemTrayLowerLeft>button{
    width: 28px;
    height: 28px;
    background: linear-gradient(#fff,#f9f9f9);
    display: inline-block;
    border: 1px solid #c2c2c2;
    cursor: pointer;
    font-size: 16px;
    border-radius: 50%;
    line-height: 1;
    transition: all .2s ease-in-out;
}
.cartItemTrayLowerLeft>button:active{
    transform: scale(1.1);
}

.cartItemTrayLowerRight{
    width: calc(100% - 150px);
    height: 100%;
    display : flex;
    align-items : center;
}

.cartItemTrayLowerRight>button{
    margin-left : 30px;
    background-color: #fff;
    border : none;
    display: inline-block;
    text-transform: uppercase;
    box-shadow: none;
    outline: 0;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

.cartItemTrayLowerRight>button:hover{
    color: #2874f0;
}

.cartItemPrice{
    width : 100%;
    height : 60px;
    display:flex;
    margin-left:30px;
    align-items: center;
  }
  .cartItemDiscountedPrice{
    font-size:18px;
    font-weight: 500;
  }
  .cartItemActualPrice{
    font-size: 16px;
    margin-left: 12px;
    text-decoration: line-through;
    color: #878787;
  }
  .cartItemDiscount{
    margin-left: 12px;
    font-size: 14px;
    font-weight: 500;
    color: #388e3c;
  }
  @media only screen and (max-width: 500px) {
    .cartItemName {
        width:80%;
    }
    .cartItemTrayLowerRight>button {
        font-size:12px;
    }
    .cartItemTrayUpperLeft>img{
        max-width: 70%;
        max-height: 70%
    }
  }